{% extends 'base.html' %}

{% block title %}Pet List{% endblock %}

{% block content %}
<h1>Our Pets</h1>
  {% for pet in pets %}
    <div>
      <a href="/{{ pet.id }}">
      {% if pet.photo_url %}
        <img class='img-thumbnail' src="{{ pet.photo_url }}" alt="Photo of {{ pet.name }}" width="100">
      {% endif %}

      <p>{{ pet.name }}
        {% if pet.available %}
          <b>is available!</b>
        {% else %}
          <b>is not available!</b>
        {% endif %}
      </p>
    </a>
    </div>
  {% endfor %}
  <h2>Random Petfinder Pet</h2>
    <div>
      <img class= 'img-thumbnail'src="{{ random_pet.photo_url }}" alt="Photo of {{ random_pet.name }}" width="300">
      <p>Name : {{ random_pet.name }}</p>
      <p>Age : {{ random_pet.age }}</p>
    </div>
  <a href="/add" class='btn btn-primary'>Add pet</a>
{% endblock %}