{% extends 'base.html' %}

{% block title %}Pet List{% endblock %}

{% block content %}
<h1>Pets</h1>
  {% for pet in pets %}
    <div>
      <a href="/{{ pet.id }}">
      <img src="{{ pet.image_url }}" alt="Photo of {{ pet.name }}">

      <p>{{ pet.name }}
        {% if pet.available %}
          <b>is available!</b>
        {% else %}
          <b>is not available!</b>
        {% endif %}
      </p>
    </a>
    </div>
  {% endfor %}
  <a href="/add">Add pet</a>
{% endblock %}